<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Here goes user features</p>
    
    <div> 
      <h4>Add user</h4>
      <form action="/users/addUser" method="post">
      First name:<br>
      <input type="text" name="firstname"><br>
      Last name:<br>
      <input type="text" name="lastname"><br>
      Username: 
      <input type="text" name="username"><br>
      Password:
      <input type="text" name="password"><br>
      Email:
      <input type="text" name="email"><br>
      Job position:
      <input type="text" name="position"><br>
      Company:
      <input type="text" name="company"><br>
      Company URL: 
      <input type="text" name="companyUrl"><br>

      <input type="submit" value="Submit">
    </form> 
    </div>

    <div><%= allUsers %></div>
  </body>
</html>